<div class="flex justify-between mb-2 px-3">
  <span class=" text-xs font-semibold uppercase tracking-[0.16em] text-sky-300">
    {{ item().label }}
  </span>
  <span>
    @if (item().badge && item().badge?.text) {
      <app-ui-navbar-badge
        [text]="item().badge?.text || ''"
        [color]="item().badge?.color || ''"
      ></app-ui-navbar-badge>
    }
  </span>
</div>
@if (hasChildren()) {
  <div class="ml-4 border-l border-slate-700 pl-4">
    @for (item of item().children; track $index) {
      @switch (item.type) {
        @case ('divider') {
          <app-ui-navbar-divider [item]="item"></app-ui-navbar-divider>
        }
        @case ('link') {
          <app-ui-navbar-link [item]="item"></app-ui-navbar-link>
        }
      }
    }
  </div>
}
