<div class="flex justify-between items-center gap-2">
  <div class="flex-1 min-w-0 flex items-center gap-2">
    <div class="shrink-0">
      @switch (filetype()) {
        @case ('image') {
          <mat-icon>picture</mat-icon>
        }
        @case ('pdf') {
          <mat-icon>picture_as_pdf</mat-icon>
        }
        @default {
          <mat-icon>insert_drive_file</mat-icon>
        }
      }
    </div>
    <div class="flex-1 min-w-0 truncate">{{ filename() }}</div>
  </div>
  <div><a href="{{ url() }}" target="_blank" i18n=":@@common.button.preview">Preview</a></div>
</div>
