<div class="flex flex-wrap items-center gap-2 md:gap-3">
  @if (hasPrimaryActions()) {
    <div class="flex flex-wrap items-center gap-2">
      @for (action of primaryActions(); track $index) {
        @if (action.to) {
          <a
            [routerLink]="action.to"
            mat-raised-button
            color="primary">{{ action.label }}</a
          >
        } @else {
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onActionClick(action)"
            >
            {{ action.label }}
          </button>
        }
      }
    </div>
  }
  @if (hasSecondaryActions()) {
    <button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (action of secondaryActions(); track $index) {
        @if (action.to) {
          <a [routerLink]="action.to" mat-menu-item>{{ action.label }}</a>
        } @else {
          <button
            type="button"
            (click)="onActionClick(action)"
            mat-menu-item
          >
            {{ action.label }}
          </button>
        }
      }
    </mat-menu>
  }
</div>
