<mat-sidenav-container class="h-full bg-transparent">
  <mat-sidenav
    #sidenav
    class="app-shell-sidenav bg-slate-950 text-slate-100 shadow-2xl"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="isHandset() === false"
  >
    <div class="h-full flex flex-col">
      <div class="h-16 px-4 flex items-center justify-between border-b border-slate-600">
        <h1 class="text-lg font-bold text-white">Roller les loups</h1>
        @if (isHandset()) {
          <button type="button" mat-icon-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
      <div class="">
        <ng-container *ngComponentOutlet="sidebar()"></ng-container>
      </div>
      <div class="border-t border-slate-600 pt-4 px-4">
        <button mat-button (click)="logout()" i18n=":@@common.button.logout">Logout</button>
      </div>
    </div>
  </mat-sidenav>
  <div class="h-full overflow-auto bg-transparent" [ngClass]="{ 'pt-16': isHandset() }">
    @if (isHandset()) {
      <div
        class="fixed w-full z-50 h-16 flex top-0 left-0 items-center justify-between px-4 bg-white border-b border-slate-200"
      >
        <div>
          <button type="button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    }
      <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
