/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
  body {
    @apply h-full bg-gray-100 dark:bg-gray-900;
  }

  #splashscreen {
    @apply fixed top-0 left-0 w-full h-full bg-red-500 z-50 ease-in-out transition-opacity opacity-0 duration-500 ;
  }

  #splashscreen.active {
    @apply opacity-100;
  }

  .mat-sidenav-container {
    @apply h-full;
  }

  .mat-sidenav {
    @apply bg-gray-900 text-white;
  }
}
