<div class="flex flex-col gap-4">
  <app-ui-datagrid-filters
    [quickSearch]="quickSearch()"
    [search]="search()"
    (searchChange)="onSearchChange($event)"
  ></app-ui-datagrid-filters>

  @if (hasBulkActions()) {
    <app-ui-datagrid-bulk-actions
      [count]="rows().length"
      [total]="total()"
    ></app-ui-datagrid-bulk-actions>
  }

  <div class="datagrid-table-wrap">
    <app-ui-datagrid-table
      [columns]="columns()"
      [rows]="rows()"
      [actions]="rowActions()"
      (rowClick)="onRowClick($event)"
    ></app-ui-datagrid-table>
  </div>

  @if(paginable()) {
  <app-ui-datagrid-pagination
    [count]="rows().length"
    [total]="total()"
    [currentPage]="currentPage()"
    (pagignationChange)="onPaginationChange($event)"
  ></app-ui-datagrid-pagination>
  }
</div>
